@charset "UTF-8";
/* function */
/* function End */
/* base-css */
/* 重設實際寬高 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

html, body {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  color: black;
  font-size: 1em;
  font-family: 'Open Sans';
}

/* 清除浮動 */
.clear {
  zoom: 1;
}
.clear:before, .clear:after {
  display: block;
  content: '';
}
.clear:after {
  clear: both;
}

/* 重設實際寬高 End */
/* 文字樣式 */
/* 字體大小 */
.font_12 {
  font-size: 0.75em;
}

.font_16 {
  font-size: 1em;
}

.font_24 {
  font-size: 1.5em;
}

.font_32 {
  font-size: 2em;
}

/* 字體粗細 */
.font_bold {
  font-weight: bold;
}

.font_normal {
  font-weight: normal;
}

/* 字體顏色 */
.error, .red {
  color: #ed2123;
}

.green {
  color: #00aa00;
}

.gold {
  color: #ac903e;
}

/* 全站超連結樣式 */
a, a:hover {
  display: block;
  color: black;
  text-decoration: none;
}

/* 表單文字 */
label.error {
  position: absolute;
  top: 30px;
  left: 0;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
  font-size: 0.75em;
  line-height: 1.2;
  text-align: left;
  min-height: 30px;
}

/* 訊息框 */
.confirmAlert {
  display: none;
  margin-bottom: 15px;
  padding: 15px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  background-color: #ece7d7;
}

/* 文字樣式 End */
/* 按鈕樣式 */
.btn {
  padding: 5px 20px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.btn.blue {
  background-color: #00aeef;
  color: white;
}
.btn.gray {
  background-color: #848484;
}
.btn.error {
  background-color: #f8d6d6;
}

a.btn {
  display: inline-block;
}
a.btn.blue {
  margin: 15px 0;
}

/* 按鈕樣式 End */
/* 表單樣式 */
textarea, select, input {
  font-size: 1em;
}

textarea {
  padding: 15px !important;
  resize: none;
  text-align: left;
}

input[type="checkbox"], input[type="submit"] {
  cursor: pointer;
  width: initial;
  width: inherit;
}

input {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: left;
  width: 80%;
}

input[type="checkbox"] {
  display: inline-block;
}

input[type="submit"] {
  text-align: center;
  width: 40%;
}

/* 必填樣式 */
input[type="text"].hidden {
  position: absolute;
  top: 0;
  opacity: 0;
  height: 0;
}
input[type="text"].hidden ~ label.error {
  margin-top: 0;
}
input[type="text"].hidden ~ label.error ~ .dropdown, input[type="text"].hidden ~ label.error ~ .dropdown * {
  color: #ed2123;
  background-color: #f8d6d6;
}
input[type="text"].hidden ~ label.error ~ .dropdown {
  -webkit-border-radius: 16px;
  border-radius: 16px;
}

/* 必填樣式 End */
/* 表單樣式 End */
/* 對齊 */
.float_l {
  float: left;
}

.float_r {
  float: right;
}

/* 對齊 End */
/* 限制最大寬度 */
.content {
  margin: 0 auto;
  width: 100%;
}

.main {
  overflow: hidden;
  padding: 15px;
}

/* base-css End */
