@charset "UTF-8";
@import 'style_var';
/* base-css */
/* 重設實際寬高 */
* {
	@include boxSize();
	font-family: 'Open Sans';
}
html, body {
	height: 100%;
}
body {
	background-color: $bodyColor;
    color: txtColor(nth($bodyColor,1));
	font-size: px2em(16px);
	font-family: 'Open Sans';
}
/* 清除浮動 */
.clear {
	zoom: 1;
	&:before, &:after {
		@include _display(nth($display,1));
		content: '';
	}
	&:after {
		clear: both;
	}
}
/* 重設實際寬高 End */
/* 文字樣式 */
	/* 字體大小 */
	.font_12 {
		font-size: px2em(12px);
	}
	.font_16 {
		font-size: px2em(16px);
	}
	.font_24 {
		font-size: px2em(24px);
	}
	.font_32 {
		font-size: px2em(32px);
	}
	/* 字體粗細 */
	.font_bold {
		font-weight: bold;
	}
	.font_normal {
		font-weight: normal;
	}
	/* 字體顏色 */
	.error, .red {
		color: nth($orderFontColor, 2);
	}
	.green {
		color: nth($orderFontColor, 1);
	}
	.gold {
		color: #ac903e;
	}
	/* 全站超連結樣式 */
	a {
		@include _display(nth($display,1));
		color: nth($fontColor, 2);
		text-decoration: nth($text_deco, 1);
		&:hover {
			@extend a;
		}
	}
	/* 表單文字 */
	label.error { //與input同層
		position: nth($position, 2);
		top: 30px;
		left: 0;
		text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
		font-size: px2em(12px);
		line-height: 1.2;
		@include iCenter(left);
		min-height: 30px;
	}
	/* 訊息框 */
	.confirmAlert {
		@include _display(nth($display, 3));
		margin-bottom: 15px;
		padding: 15px;
		@include borderStyle($borderColor);
		border-width: 1px;
		background-color: nth($tableColor, 3);
	}
/* 文字樣式 End */
/* 按鈕樣式 */
.btn {
	padding: 5px 20px;
	@include borderRadius($fontSize);
	-webkit-appearance: none;
	-moz-appearance: none;
	&.blue {
		background-color: #00aeef;
		color: txtColor(nth($bgColor,1));
	}
	&.gray {
		background-color: #848484;
	}
	&.error {
		background-color: #f8d6d6;
	}
}
a.btn {
	@include _display(nth($display,2));
	&.blue {
		margin: 15px 0;
	}
}
/* 按鈕樣式 End */
/* 表單樣式 */
textarea, select, input {
	font-size: px2em(16px);
}
textarea {
	padding: 15px !important;
	resize: none;
	@include iCenter(left);
}
input[type="checkbox"], input[type="submit"] {
	cursor: pointer;
	width: initial;
	width: inherit;
}
input {
	@include _display(nth($display,1));
	@include blockCenter();
	margin-bottom: 15px;
	@include iCenter(left);
	width: 80%;
}
input[type="checkbox"] {
	@include _display(nth($display,2));
}
input[type="submit"] {
	@include iCenter(center);
	width: 40%;
}
	/* 必填樣式 */
	input[type="text"].hidden {
		position: nth($position, 2);
		top: 0;
		opacity: 0;
		height: 0;
		&~label.error {
			margin-top: 0;
			&~.dropdown, &~.dropdown * {
				color: nth($orderFontColor, 2);
				background-color: #f8d6d6;
			}
			&~.dropdown {
				@include borderRadius($fontSize);
			}
		}
	}
	/* 必填樣式 End */
/* 表單樣式 End */
/* 對齊 */
.float_l {
	@include _float(nth($direction, 4));
}
.float_r {
	@include _float(nth($direction, 2));
}
/* 對齊 End */
/* 限制最大寬度 */
.content {
	@include blockCenter();
	width: 100%;
}
.main{
	overflow: hidden;
	padding: 15px;
}
/* base-css End */